.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_gjrf{margin:0 0 0 0; overflow:hidden;}
.row_kzvf{margin:0px 0px 0px 0px; overflow:hidden;}

.col_9ams{margin:0px 0px 30px 0px; overflow:hidden;}
.col_6dy8{padding:0px 0px; overflow:hidden;}
.col_l07o{padding:0px 0px; overflow:hidden;}
.col_fafm{padding:0px 0px; overflow:hidden;}
.row_ulmi{margin:0px 0px 30px 0px; overflow:hidden;}

.col_ddqk{padding:0px 0px 0px 0px; overflow:hidden;}
.row_4esu{margin:0px 0px 0px 0px; overflow:hidden;}

.col_8taj{margin:0px 0px 30px 0px; overflow:hidden;}
.section-style{background-image:url('../../../../../image/catalog/Data/background-1.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:fixed ;background-size:cover;}

.col_jkvk{padding:0px 0px 0px 0px; overflow:hidden;}
.col_csuu{padding:0px 0px 0px 0px; overflow:hidden;}
.row_zzur{margin:0px 0px 0px 0px; overflow:hidden;}

.col_6ie7{margin:0px 0px 30px 0px; overflow:hidden;}
.col_pyhw{padding:75px 0px; overflow:hidden;}
